$color-gray-dark: #696969;
$color-gray-light: #eee;
$color-gradient-start: #eee;
$color-gradient-end: #f5f5f5;

$font-size-name: 16px;
$font-size-status: 14px;

$spacing-small: 5px;
$gap-small: 15px;
$gap-large: 40px;