.msg-block {
  display: flex;
  justify-content: start;
  align-items: center;

  &.user-msg {
    justify-content: flex-end;
    
    .content {
      background-color: #5B96F7; 

      .info {
        .text {
          color: white;
        }

        .img {
          
        }
      }
    }
  }

  .content {
    padding: 12px 20px;

    background-color: white; 
    border-radius: 16px;

    max-width: 50%;

    position: relative;

    .info {
      display: flex;
      align-items: center;
      gap: 10px;

      .text {
        color: #696969;
        font-size: 14px;
      }

      .modal-btn {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .timestamp {
      color: #696969;
      font-size: 12px;
      
      position: absolute;
      bottom: -15px;
      right: -10px;
    }
  }
}
