.msg-block {
  display: flex;
  justify-content: start;
  align-items: center;

  &.user-msg {
    justify-content: flex-end;
    
    .content {
      background-color: #5B96F7; 

      .text {
        color: white;
      }
    }
  }

  .content {
    padding: 12px 20px;

    background-color: white; 
    border-radius: 16px;

    max-width: 50%;

    position: relative;

    .text {
      color: #696969;
      font-size: 14px;
    }

    .timestamp {
      color: #696969;
      font-size: 12px;
      
      position: absolute;
      bottom: -15px;
      right: -10px;
    }
  }
}
