.user-card {
  display: flex;
  gap: 20px;
  width: 100%;

  cursor: pointer;

  background-color: #FFFFFF;

  padding: 15px 20px 15px 20px;
  border-radius: 15px;

  .user-profile {
    flex: 0 1 50px;

    position: relative;

  }

  .info {
    flex: 9;

    display: flex;
    flex-direction: column;
    gap: 5px;

    .name-time {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .name {
        font-size: 16px;
      }

      .time {
        color: #7C7C7D;
      }
    }

    .latest-msg-container {
      display: flex;
      justify-content: space-between;

      .msg {
        font-size: 14px;
        color: #7C7C7D;
      }

      .num-container {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #5B96F7;
        border-radius: 50%;

        .num {
          color: white;
          font-size: 10px;
          font-weight: bold;

          padding: 2px 5px 2px 5px;
          border-radius: 50%;
        }
      }
    }
  }
}