@use './utilities/_variables.scss' as vars;
@use './utilities/_skeleton' as skeleton;

.chat-window {
  width: 100%;
  background-color: #f8faff;

  display: flex;
  flex-direction: column;

  .chat-header {
    flex: 0 1 90px;

    display: flex;
    gap: 15px;
    padding: 15px 20px 15px 20px;

    .user-profile {
      flex: 0 1 50px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      position: relative;

      .profile-img-skeleton {
        width: 50px;
        height: 50px;

        border-radius: 50%;
        margin-top: vars.$spacing-small;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;

      .name {
        font-size: 16px;
      }

      .name-skeleton {
        width: 200px;
        height: 20px;
      }

      .status {
        font-size: 14px;
        color: #696969;
      }
    }

    .icons-container {
      display: flex;
      gap: 40px;

      margin-left: auto;
    }
  }

  .skeleton-loader {
    @include skeleton.skeleton-animation;
    margin: vars.$spacing-small 0;
    border-radius: 4px;
  }

  .msgs-container {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: #f0f4fa;

    padding: 20px;

    overflow-y: auto;
  }

  .chat-bottom {
    flex: 0 1;

    display: flex;
    align-items: center;
    gap: 20px;

    padding: 20px;

    .ant-input-outlined {
      border-radius: 10px;
      background-color: #eaf2fe;
      border: none;

      .ant-input {
        padding: 8px 0px 8px 0px;
      }

      .ant-input::placeholder {
        color: #709ce6;

        font-size: 16px;
      }
    }

    .send-block {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: #5b96f7;

      border-radius: 12px;

      padding: 12px;
    }
  }
}
